<body>
  <div class="nav-container">
    <div class="user-section" *ngIf="!logged" [routerLink]="['/login']">
      <span class="icon">👤</span>
      <div class="text">
        <p><strong>¡Hola! Iniciá sesión</strong></p>
        <p>O podés registrarte</p>
      </div>
    </div>
    <div class="user-section" *ngIf="logged">
      <span [routerLink]="['/user']" class="icon">👤</span>
      <div class="text">
        <p [routerLink]="['/user']" style="cursor: pointer">
          <strong>Mi cuenta</strong>
        </p>
        <p (click)="logout()" style="cursor: pointer">Cerrar sesión</p>
      </div>
    </div>
    <div class="cart-section" [routerLink]="['/cart']">
      <span class="icon">🛒</span>
      <span class="cart-count">{{ products?.length }}</span>
    </div>
  </div>
</body>
