<div class="pagination-controls" *ngIf="productsArray.length > 0">
  <button
    (click)="previousPage()"
    class="pagButton"
    [disabled]="currentPage === 1"
    style="background-color: #009100"
  >
    Anterior
  </button>
  <p
    style="text-align: center; font-family: Arial, Helvetica, sans-serif"
    *ngIf="productsArray.length > 0"
  >
    {{ currentPage }} - {{ totalPages }}
  </p>
  <button
    (click)="nextPage()"
    class="pagButton"
    [disabled]="currentPage == totalPages"
    style="background-color: #e13933"
  >
    Siguiente
  </button>
</div>
