body {
  margin-top: 16.5vi;
}
#container {
  color: white;
  font-family: sans-serif;
  display: flex;
  padding: 6vh;
}
#dataContact {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 30vh;
  gap: 1vh;
  .data {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    width: fit-content;
  }
  img {
    margin-top: 50px;
    width: 300px;
  }
}
i {
  min-width: 2vh;
}

#formContact {
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: 2vh;
  input {
    background: none;
    border: 1px solid grey;
    width: 60vh;
    height: 5vh;
    font-size: 15px;
    padding-left: 1vh;
    color: white;
    font-family: sans-serif;
  }
  label {
    font-size: 12px;
    font-family: sans-serif;
  }
  button {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
    height: 5vh;
    border: 0;
    border-radius: 5px;
    background-color: rgb(232, 232, 232);
  }
}
#messageInp {
  padding-bottom: 10vh;
}

input::placeholder {
  font-size: 12px;
  font-family: sans-serif;
}
span {
  font-size: 12px;
  font-family: sans-serif;
  color: #009100;
}
#problem {
  color: #e13933;
}
@media (max-width: 1199px) {
  #container {
    flex-direction: column;
    align-items: center;
  }
  #dataContact {
    margin: 0;
  }
  #formContact {
    margin-top: 10svh;
    width: fit-content;
    max-width: 100svw;
  }
  input {
    max-width: calc(90svw - 1vh);
  }
}
