<div id="container">
  <div id="pres1" class="pres">
    <video width="840" autoplay loop muted [volume]="false" [muted]="true">
      <source
        src="../../../assets/TOTAL High Pressure Washer TGT11316.mp4"
        type="video/mp4"
      />
      Tu navegador no soporta la etiqueta de video.
    </video>
  </div>
  <div id="pres2" class="pres">
    <video width="400" autoplay loop muted [volume]="false" [muted]="true">
      <source
        src="../../../assets/TOTAL High Pressure Washer TGT11316.mp4"
        type="video/mp4"
      />
      Tu navegador no soporta la etiqueta de video.
    </video>
    <video width="400" autoplay loop muted [volume]="false" [muted]="true">
      <source
        src="../../../assets/TOTAL High Pressure Washer TGT11316.mp4"
        type="video/mp4"
      />
      Tu navegador no soporta la etiqueta de video.
    </video>
  </div>
</div>
