<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ productSelected.name }} | Los Vascos</title>
  </head>

  <body>
    <app-nav-bar-extended></app-nav-bar-extended>
    <div id="container">
      <div class="imageDiv">
        <img
          src="{{ bffURL + productSelected.image }}"
          alt="{{ productSelected.name }}"
        />
      </div>
      <div class="product-page">
        <div class="product-title">{{ productSelected.name }}</div>
        <div class="product-code">
          Categoría: {{ productSelected.category }}
        </div>
        <div
          class="price"
          [ngClass]="{ tacched: productSelected.discount > 0 }"
          *ngIf="productSelected.price > 0"
        >
          {{ productSelected.price | currency : "" : "symbol" : "1.2-2" }}
        </div>
        <div class="price" *ngIf="productSelected.discount > 0">
          ${{ productSelected.priceDiscount.toFixed(1) }}
        </div>
        <div *ngIf="!onCart && productSelected.price > 0" class="groupCart">
          <div class="quantity-container">
            <button
              class="quantity-btn decrease"
              (click)="modifyQuantity(false)"
            >
              <
            </button>
            <input
              type="number"
              class="quantity-input"
              value="{{ productSelected.quantity }}"
              min="1"
            />
            <button
              class="quantity-btn increase"
              (click)="modifyQuantity(true)"
            >
              >
            </button>
          </div>
          <p class="add-to-bag" (click)="addToCart()">Añadir al carrito</p>
        </div>
        <div
          class="add-to-bag onCart"
          [routerLink]="['/cart']"
          *ngIf="onCart && productSelected.price > 0"
        >
          En carrito
        </div>
        <div class="add-to-bag" *ngIf="productSelected.price === 0">
          Consultar Precio
        </div>
        <div class="form" id="formMeasure" *ngIf="options.length > 1">
          <label for="optionSearch" class="option-title">OPCIÓN </label>
          <input
            id="optionSearchInp"
            type="text"
            [(ngModel)]="searchTerm"
            (input)="updateSearchResults()"
            placeholder="Busque la opción que desea"
          />
          <div id="optionContainer">
            <div
              class="optionData"
              *ngFor="let option of optionsSearched"
              (click)="selectOption(option)"
            >
              <p>{{ option.name.toUpperCase() }}</p>
            </div>
          </div>
        </div>
        <div class="product-options">
          <select
            *ngIf="options.length > 0"
            [(ngModel)]="optionSelected.id"
            name="options"
            (change)="isOnCart()"
            id="prodOptions"
          >
            <option *ngFor="let option of options" value="{{ option.id }}">
              {{ option.name }}
            </option>
          </select>
        </div>
        <div class="product-options">
          <div class="option-title" *ngIf="productSelected.description != ''">
            DESCRIPCIÓN
          </div>
          <div id="description">{{ productSelected.description }}</div>
        </div>
        <div class="product-options">
          <div
            class="option-title"
            *ngIf="
              productSelected.features != undefined &&
              productSelected.features.length > 0
            "
          >
            CARACTERISTICAS
          </div>
          <div class="size-options">
            <div *ngFor="let feature of productSelected.features">
              <p>{{ feature.name }}</p>
              <p>{{ feature.value }}</p>
            </div>
          </div>
        </div>
        <div class="delivery-info">Envíos gratis a Mar Del Plata</div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
