#container {
  background-color: rgb(35, 57, 67);
  padding: 1vi;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
  a {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  a:hover {
    transform: scale(1.1); /* Escala el div al 120% del tamaño original */
    color: #e13933;
  }
  p {
    display: flex;
    gap: 5px;
  }
}
