<div id="container">
  <h1 style="text-align: center; font-size: 24px">AGREGAR NUEVA OPCIÓN</h1>
  <div class="option">
    <div id="optionInputs">
      <label for="optionName">Opción</label>
      <input type="text" name="optionName" id="optionInp" />
    </div>
    <div class="priceList">
      <label for="price1">Costo de producto</label>
      <input type="number" name="price1" id="costPriceInp" />
    </div>
    <div class="priceList">
      <label for="stock1">Stock</label>
      <input type="number" name="price1" id="stockInp" />
    </div>
    <button (click)="addOption()">Agregar</button>
  </div>
</div>
